[user]
	name = Jan Kopriva
	email = jan.kopriva@gooddata.com

[merge]
	tool = opendiff

[alias]
    c = commit
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    co = checkout
    br = branch
    p = push
    pr = pull --rebase
    pru = pull --rebase upstream master
    syncorigin = "!f() { git pru && git p origin; }; f"
    rc = rebase --continue
    ds = diff --staged
    s = status
    sb = status -sb
    st = stash
    sp = stash pop
    ss = stash save
    sl = stash list
    i = "!f() { git pr && git p; }; f"
    sh = "!f() { git stash show -p stash@{$1}; }; f"
    sd = "!stashf() { git stash drop stash@{$1}; }; f"
    l = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
    d = diff --color
    pr = pull --rebase
    conflicts = "!f() { git ls-files -u | cut -f 2 | sort -u; }; f"
    bd = "!f() { git branch -D $1; git push origin :$1;}; f"
    showdiff = "!f() { find . -name $1 | xargs git diff origin/master..HEAD ; }; f"

[push]
	default = current

[apply]
    whitespace = nowarn

[core]
    pager = less -FXRS
	editor = /usr/bin/vim
	excludesfile = /Users/jk/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[remote "upstream"]
    url = git@github.com:gooddata/gdc-client.git
    fetch = +refs/heads/*:refs/remotes/upstream/*
    fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
[credential]
	helper = osxkeychain
